* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Jost", sans-serif;
  font-weight: 300;
  background-color: #fff;
}

/* FONTS */
.titlefont {
  font-family: "Oswald", sans-serif;
  font-size: clamp(3rem, 6vw, 7.75rem);
}

.hamburgerfont {
  font-weight: 200;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.55);
}

.worktitlefont {
  font-family: "oswald", sans-serif;
  font-size: clamp(2rem, 5vw, 6rem);
  color: white;
}

.workabout {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 400px;
}

.herotext > h4 {
  font-size: clamp(14px, 5vw, 18px);
  line-height: 1.8;
}
/* Header */

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: #fff;
  z-index: 2;
}

.showcase header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.text {
  position: relative;
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/* ABOUT ME MODAL */

.aboutMeModal {
  background-color: rgba(65, 88, 208, 0.6);
  background-image: linear-gradient(
    43deg,
    rgba(91, 192, 222, 0.6) 0%,
    rgba(0, 217, 194, 0.6) 46%,
    rgba(65, 88, 208, 0.6) 100%
  );
}

.modaltext > h5 {
  line-height: 1.8em;
  font-weight: 300;
}

.modalcard {
  max-width: 250px;
}

/* #00f898 #0dcaf0  #004cf8; */

/* ABOUT ME HEADER */

.showcase img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.8;
}

/* Underline on hover */

.underline {
  background-image: linear-gradient(90deg, #00d9c2, #00f898);
  background-size: 6% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 300ms ease;
}

.underline:hover {
  background-size: 100% 3px;
}

/* Programming Icons Carousel */

.carouselcontainer {
  padding-top: 100vh;
}

.single-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-area {
  width: 100px;
  height: 100px;
  margin: 40px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 48px;
}

/* TESTIMONIALS */

.testimonial {
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.testimonial h2 {
  font-size: clamp(15px, 5vw, 25px);
}

.testimonial h3 {
  font-size: 15px;
}

/* First Work sample */

.worksample {
  background-image: radial-gradient(
    circle 610px at 5.2% 51.6%,
    rgba(5, 8, 114, 1) 0%,
    rgba(7, 3, 53, 1) 97.5%
  );
  height: 102vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}

.gifimgcontainer {
  height: 450px;
}

.workgif {
  width: auto;
  max-height: 450px;
}

/* Second Work Sample */
.worksampletwo {
  background: linear-gradient(
      114.95deg,
      rgba(235, 0, 255, 0.5) 0%,
      rgba(0, 0, 0, 0) 38.87%
    ),
    linear-gradient(180deg, #004b5b 0%, #ffa7a7 100%),
    linear-gradient(244.35deg, #ffb26a 0%, #3676b1 50.58%, #00a3ff 100%),
    linear-gradient(244.35deg, #ffffff 0%, #007089 49.48%, #ff005c 100%),
    radial-gradient(100% 233.99% at 0% 100%, #6d3b00 0%, #8fff00 100%),
    linear-gradient(307.27deg, #219d87 0.37%, #93c32e 50.19%, #2800c6 100%),
    radial-gradient(
      100% 140% at 100% 0%,
      #ff00c7 0%,
      #006c7a 49.48%,
      #760000 100%
    );
  background-blend-mode: hard-light, overlay, overlay, overlay, difference,
    difference, normal;
  height: 102vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}

.workimg {
  width: auto;
  max-height: 450px;
}

.underlinetalk {
  background-image: linear-gradient(90deg, #00d9c2, #00f898);
  background-size: 100% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.imagecontainer {
  width: 100%;
}

/* FOOTER */

footer {
  background-color: black;
  width: 100%;
}

.builtby {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.backgroundmobile {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  .showcase {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .herotext {
    text-align: center;
  }

  .worksample {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
  }

  .worksampletwo {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px, 0;
  }

  .ws2 {
    width: 375px;
  }

  .workmobile {
    width: auto;
    height: 450px;
  }

  .workimg {
    width: 300px;
    height: auto;
    object-fit: contain;
  }

  .testimonial {
    padding-top: 40px;
  }

  .underline {
    background-size: 0% 3px;
    transition: background-size 300ms ease;
  }
}

.checked {
  color: orange;
}

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

Analogous harmony rule Palette {
  color: #00d9c2 #00f898 #0dcaf0 #007cd9 #004cf8;
}
